<!DOCTYPE html>
<html lang="en">
<head>
 <title>Pending Transaction</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">  <!--The <link> element creates a link between your HTML document and an external resource-->
	<link rel="stylesheet" type="text/css" href="mainpend.css">
	</head>
	
<body>
<header class="page-header header container-fluid">
<div class="overlay"></div>

        <div class="description">  
            <div>
                <h3 style="color:yellow">Pending Transaction of the shown item</h3>
            </div>
            <div>
                <!-- Add Link to Details Here -->
                <a href="{% url 'itemDetail' item.slug item.id %}">
                    <img src="images/item1.jpg" width="200">
                </a>
                <div>
                    <h3 style="color:blue">
                        Click to choose action
                    </h3>
                    <h4>
                        
                    </h4>
                <button href="{% url 'Dashboard:approveItem' item.slug item.id %}"> Approve Transaction </button>
				<button href="{% url 'Dashboard:approveItem' item.slug item.id %}"> Ask me later </button>
                </div>
            </div>
        </div>

</header>
<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
